.App {
  font-family: sans-serif;
  text-align: center;
}

.selector {
  margin: 10;
}

.text-color {
  color: #116530;
  font-size: 20px;
}

.card-header {
  margin: 5px;
  margin-bottom: 10px;
}

.card {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid rgba(120, 150, 110, 0.2);
  border-color: bisque;
  background-color: rgba(120, 150, 110, 0.2);
}